<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/fed4f447-464b-4d9c-81e7-1a6c70276af6/resourceGroups/JobSync/providers/Microsoft.ApiManagement/service/JobSyncAPI-Management/apis/JobSyncAPIManagement</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/fed4f447-464b-4d9c-81e7-1a6c70276af6/resourceGroups/JobSync/providers/Microsoft.Web/sites/JobSyncAPITestigosVue</ResourceId>
    <ResourceGroup>JobSync</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://jobsyncapitestigosvue.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b415dbae-ceb4-498e-98ef-e505cb0b26e3</ProjectGuid>
    <PublishUrl>https://jobsyncapitestigosvue.scm.azurewebsites.net/</PublishUrl>
    <UserName>$JobSyncAPITestigosVue</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>